@font-face {
    font-family: 'RudaBold';
    src: url(../fonts/Ruda/static/Ruda-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'RudaExtraBold';
    src: url(../fonts/Ruda/static/Ruda-ExtraBold.ttf) format('truetype');
}
@font-face {
    font-family: 'RudaRegular';
    src: url(../fonts/Ruda/static/Ruda-Regular.ttf) format('truetype');
}