@import 'vars';
@import 'breakpoints';
@import 'buttons';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    font-family: 'RudaBold', sans-serif;
    font-size: $font-16;
    @include tablet {
        font-size: $font-18;
    }
    scroll-behavior: smooth;
}


.wrapper {
    width: 100%;
    margin: 0 auto;
    @include tablet {
        width: 720px;
    }
    @include desktop-md {
        width: 960px;
    }
    @include desktop-lg {
        width: 1140px;
    }
    @include desktop-xl {
        width: 1320px;
    }
}
.banner {
    background-image: url('../img/banner.png');
    background-size: cover;
    background-position: 10%;
    background-repeat: no-repeat;
    min-height: 100vh;
}

//header - logo, menu & hamburger icon
.header {
    min-height: 80px;
    width: 100%;
    z-index: 10;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;    
    align-items: center;
    backdrop-filter: blur(4px);
    text-transform: uppercase;
    @include tablet {        
        grid-template-columns: 1fr 2fr 1fr;
    }
}
.header-logo__item {
    margin-left: 0;
    @include desktop-md {
        margin-left: 114px;
    }
}
.header-menu {
    margin-right: 10px; 
    @include tablet {
        justify-self: start;
        margin-right: 0;
    }
}
/*.menu__container {
    display: none;
    @include tablet {
        display: block;
    }
}*/
.menu__list {
    list-style-type: none;
    position: fixed;
    left: -1000px;
    top: 80px;
    width: 100%;
    gap: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 80px);     
    &.active {
        left: 0;
        background-color: rgba($white, 0.8);  /* !!! change later - if menu isn't closed the bg color remains on resize - FIX IT*/      
    }
    @include tablet {
        position: static;
        display: flex;
        height: 100%;
        flex-direction: row;
        background-color: transparent;
    }
}
.menu__item {
    padding: 40px 0;
    &:first-child {
        padding-top: 0;
    }
    @include tablet {
        &:first-child {
            padding-top: 40px;
        }
    }
    .menu__link {
        color: $text-blue;
        text-decoration: none;
        &:hover, &:active {
            color: $text-purple;
        }
        @include tablet {
            color: $white;
            padding: 0 16px; 
        }        
    }
}
.menu__socials {
    display: block;
    font-size: $font-26;
    @include tablet {
        display: none;
    }
    a:not(:last-child) {
        margin-right: 20px;
    }
}
.hamburger {
    display: block;
    @include tablet {
        display: none;        
    }
    .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        background-color: $white;
    }
    &.active {
        .bar:nth-child(2) {
            opacity: 0;
        }
        .bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
        }
        .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
        }
    }
}



//banner container 
.banner-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .button {
        @extend .banner-container;
    }  
}
.banner__content {
    display: flex;
    flex-flow: column wrap;  
    text-align: center; 
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 50px;
    @include tablet {
        padding-top: 100px;
        padding-bottom: 100px;
        margin: 0;
        width: 50%;
        text-align: right; 
    }
}
.heading-purple {
    color: $text-purple;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: $font-34;
    &--big {
        color: $text-dark;
        font-size: $font-40;
        margin-bottom: 20px;
        background-color: rgba($white, 0.3);
        @include tablet {
            background-color: transparent;
        }
    }
    &--small {
        font-size: $font-32;
    }
}

.banner__text {
    font-size: $font-16;    
    line-height: 1.4;
    color: $white;
    margin-bottom: 20px;
    @include desktop-md {
        font-size: $font-26;
    }
}




// MAIN 

.section-heading {
    text-align: center;
    margin: 20px 0 30px 0;
    line-height: 1.4;
    @include tablet {
        margin: 40px 0 60px 0;
    }
    &__heading {
        margin-bottom: 20px;
    }
    &__description {
        width: 80%;
        margin: 0 auto;
    }
}
// services

.services {
    padding-bottom: 40px;
}

.services-cards {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    @include tablet {
        flex-direction: row;
    }
}
.card {
    margin: 10px;
    background-color: $base-color;
    min-height: 500px;
    border-radius: $border-r;
    box-shadow: 2px 8px 14px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet {
        width: 40%;
    }
    @include desktop-md {
        width: 30%;
    }
    &__image {
        text-align: center;
        margin-top: 5%;
        .image__content {
            width: 90%;
            height: auto;
            border-radius: $border-r;            
        }
    }
    &__title {
        text-align: center;
        padding: $font-16;
        text-transform: uppercase;
    }
    &__button {
        padding: $font-16;
        @include tablet {
            display: none;
        }
    }
    &__description {
        display: none;
        padding-bottom: $font-32;
        width: 80%;
        text-align: justify;
        text-align-last: center;
        font-size: $font-16;
        line-height: 1.4;
        color: $text-blue;
        @include tablet {
            display: block;
            
            p {
                margin-bottom: 10px;
                &:first-child {
                    min-height: 140px;
                }
            }
            a {
                text-decoration: none;
                color: $text-purple;
                &:hover, &:active {
                    color: $white;
                }
            }
        }
    }
}

//about us

.about {
    @extend .services;
}
.content-right {
    display: flex;
    justify-items: center;
}
.benefits-content {
    display: block;
    @include tablet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.benefits__list {
    list-style-type: none;
    color: $text-blue;
    font-size: $font-16;
    @include tablet {
        font-size: $font-24;
    }
}
.benefits__item {
    margin: 70px 15px;
    &:first-child {
        margin-top: 0;
    }
    i {
        color: $text-dark;
        margin-right: 20px;
        font-size: $font-32;
    }
}

.content-left {
    display: none;
    @include tablet {
        display: block;
        &__image {
            width: 100%;
            height: auto;
        }
    }
}

// FAQ

.faq {
    @extend .services;
}
.faq-content {
    margin: 70px 15px;
    text-align: left;
}
.faq-item {
    color: $text-blue;
    margin-bottom: 70px;
    &:last-child {
        margin-bottom: 0;
    }
    font-size: $font-16;
    @include tablet {
        font-size: $font-24;
    }
    &__heading {
        color: $text-dark;
        font-size: $font-18;
        @include tablet {
            font-size: $font-26;
        }
    }
}

//gallery

.gallery {
    background-color: $base-color;
    min-height: 600px;
    width: 100%;
    .section-heading {
        margin-bottom: 0;
        margin-top: 0;
        padding-top: 40px;
    }
}
.gallery-content {
    padding: 40px;
    /* --no centering of the last row, so flexbox is preferred
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

    &__item {
        position: relative;
        flex-basis: 300px;
        height: auto;        
    }    
    &__image {
        display: block;
        width: 100%;
        height: 100%;
    }
    &__text {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: 0.5s ease;
        background-color: $text-blue;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: $white;
        font-size: $font-16;
    }
}
.gallery-content__item:hover {
    .gallery-content__text {
        opacity: 1;
        
    }
}

//form

.form {
    @extend .services;
    min-height: 700px;
    background-image: url(../img/form-bg.jpg);    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.form-container {
    display: block;
    @include tablet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.form-description {
    text-align: center;
    padding-top: 40px;
    @include tablet {
        text-align: left;
        padding-top: 100px;
    }
}

.heading-dark {
    @extend .heading-purple;
    color: $text-dark;
    &--small {
        font-size: $font-30;
    }
    &--xs {
        font-size: $font-24;
        letter-spacing: normal;
        text-decoration: underline;
    }
}

.form-description__text {
    @extend .banner__text;
    font-family: 'RudaRegular', sans-serif;
}

//

.form-content {
    display: flex;
    align-items: center;
    padding: 30px 10px;

}
.form-content__body {
    width: 100%;
    min-height: 500px;
    background-color: rgba($base-color, 0.6);
    border-radius: $border-r;
    padding: 60px;

    @include tablet {
        margin: 0;
    }
    label {
        font-family: 'RudaRegular', sans-serif;
        font-size: $font-16;
        @include tablet {
            font-size: $font-26;
        }
        color: $text-purple;
    }
    input {
        border-radius: $border-r;
        border: 1px solid $text-purple;
        padding: 10px;
        margin-top: 15px;
        margin-bottom: 15px;
        width: 100%;
        &:focus {
            outline: 1px solid $text-dark;
        }
        &::placeholder {
            font-family: 'RudaRegular', sans-serif;
        }
    }
}
.form-heading {
    text-align: center;
}
.form-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

//footer 
.footer {
    background-color: $base-color;
    min-height: 250px;
}

.footer-container {
    display: grid;
    padding: 20px;
    @include tablet {
        grid-template-columns: repeat(4, 1fr);
    }
}

.footer-logo {
    order: 1;
    @include tablet {
        order: 0;
    }
}

.about-links, .services-links, .contacts-links {
    list-style-type: none;
    &__item {
        padding: 5px 0;
        font-family: 'RudaRegular', sans-serif;
    }
    &__link {
        text-decoration: none;
        color: $text-pink;
        &:hover, &:active {
            color: $text-blue;
        }
    }
}
.contacts-links__item:first-child {
    font-size: $font-32;
    .contacts-links__link {
        margin-right: 10px;
    }
}

.footer-about, .footer-services {
    display: none;
    @include tablet {
        display: block;
    }
}